<!-- views/partials/navbar.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"></link>
</head>
<div class="header clearfix">
    <nav id="navbar">
        <a><h3>Play</h3></a>
        <a href="/buy"><h3>Buy</h3></a>
        <a><h3>Wishlist</h3></a>
    </nav>
</div>