<%- include("../partials/navbar.ejs") %>

<div class="purchase-complete-message">
	<h3>Purchase complete</h3>
	<p>You have successfully purchased:</p>
	<h3><%= book.Book_Name %></h3>
	<p>Go to your play page to begin playing!</p> 
	<a href="/play">Start Playing</a>
</div>