<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
	<div class="sign-in-page">
		<div class="logo-box">
			<h1>MuseMe</h1>
			<h3>For self-learners to purchase and play music at their level</h3>
		</div>
		<div id="login-box">
			<h2>Login</h2>
			<form action="/auth/login" method="post" id="login-form">
				<input type="text" placeholder="username" name="username">
				<input type="password" placeholder="password" name="password">
				<input type="submit" id="login-button">
			</form>
			<p>Don't have an account?</p>
			<a href="/auth/register">Sign up</a>
		</div>
	</div>
</body>
</html>