<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id="login-page">
		</div id="logo-box">
			<h1>MuseMe</h1>
			<h3>For self-learners to purchase and play music at their level</h3>
		</div>
		<div id="login-box">
			<h2>Login</h2>
			<form action="/auth" method="post" id="login-form">
				<input type="email" placeholder="username" name="username">
				<input type="password" placeholder="password" name="password">
				<input type="submit" id="login-button">
			</form>
		</div>
	</div>
</body>
</html>