body {
    margin: auto;
    height: auto;
    width: auto;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    background-color:  rgb(106, 15, 108);
    color: white; 
    font-size: 18px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#navbar > a {
    color: white;
}

#homepage {
    position: fixed;
    margin-left: 2%;
    color: white;
    z-index: 10;
    font-size: 20px;
}

#homepage > h2 {
    margin: 2vh;
}

#homepage-layout {
    display: flex;
    flex-direction: column;
}

a:active {
    background-color: black;
}

a:link {
    text-decoration: none;
}

#shop-div {
    display: flex;
    justify-content: center;
}

#shop-div > a {
    width: 25%;
    background-color: none;
    padding-bottom: 5%;
}

#shop-button {
    background-color: rgb(40, 40, 40);
    width: 100%;
    margin: auto;
    color: white;
    font-size: 26px;
    border-radius: 10%;
}

#shop-button > h4 {
    margin: 15px;
}

#app-name {
    text-align: center;
    font-size: 48px;
    margin: auto;
    padding-top: 10%;
    color: rgb(138, 8, 8);
}

#homepage-top {
    background-color: rgb(234, 224, 255);
}

#homepage-top > h3 {
    text-align: center;
    font-size: 2em;
    margin-top: 10vh;
}

.homepage-section {
    border-top: 1px solid black;
}

.home-section-heading {
    padding-left: 20%;
    font-size: 2em;
}

#composers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1%;
    row-gap: 1%;
    width: 80%;
    height: 75%;
    padding-left: 10%;
}

#composers > img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
    object-fit: cover;
}

.hidden {
    visibility: hidden;
}



/* buy page
---------------------------------*/

#buy-sidebar {
    color: white;
    background-color: rgb(40, 40, 40);
    width: 15vw;
    height: 100vh;
    font-size: 24px;
    text-align: center;
    position: fixed;
    z-index: 1;
}

#buy-sidebar-list {
    margin-top: 15vh;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#buy-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 15%;
    row-gap: 2%;
    padding: 30vh 5vw 20vh 25vw;
    height: 100%;
}

#buy-searchbar-div {
    background-color: white;
    width: 100%;
    height: 25vh;
    position: fixed;
    border-bottom: solid 2px black;
    z-index: 0;
}

#buy-searchbar {
    width: 30%;
    margin-top: 15vh;
    margin-left: 30%;
    width: 50vw;
    height: 5%;
    position: fixed;
}

.book-labels {
    display: flex;
    justify-content: space-between;
    height: 5%;
    /* width: 1em; */
}

/* .book-div {
    width: 85%;
} */

/* purchase book page
--------------------------------------*/

.purchase-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(auto, max-content);
    padding-top: 10%;
    width: 90vw;
    margin: 0 3% 10%;
}

.purchase-book-img {
    display: flex;
    justify-content: center;
}

.purchase-book-img > img {
    /* width: 60%; */
    flex: 0 1 400px;
    /* width: 400px; */
    height: 600px;
}

.book-name {
    font-size: 30px;
    color: black;
    text-align: center;
}

.book-author {
    font-size: 18px;
    color: rgb(57, 57, 57);
    text-align: center;
    margin-bottom: 10%;
}

.book-price {
    font-size: 24px;
    color: rgb(255, 255, 255);  
    background-color: rgb(133, 21, 90);
    display: inline;
    padding: 2% 5% 2% 5%;
    border: solid 3px rgb(198, 21, 104);
    border-radius: 10%;
    text-align: center;
}

.book-price-container {
    display: flex;
    justify-content: center;  
}

.book-level {
    margin-top: 7%;
    font-size: 20px;
    text-align: center;
}

.book-shipping {
    font-size: 16px;
    text-align: center;
}

.purchase-book-button {
    background-color:rgb(78, 12, 79);
    color: white;
    border-radius: 4px;
    width: 50%;
    height: 8%;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 10% 25% 10% 25%;
    cursor: pointer;
}

.songs-included {
    font-size: 18px;
}

.see-more {
    cursor: pointer;
}

.more-songs {
    display: none;
}

.book-description-subheader {
    border-top: solid 2px rgb(57, 57, 57);
    margin-top: 10%;
    padding-top: 10%;
    font-size: 24px;
}

.book-description-paragraph {
    font-size: 18px;
}

/* purchase complete page
-------------------------------------*/

.purchase-complete-message {
    padding-top: 10%;
    text-align: center;
}

/* play page
--------------------------------------*/

#play-page-header {
    padding-top: 10%;
    margin: 0 10% 5% 10%;
    text-align: center;
    font-size: 48px;
    border-bottom: 5px groove black;
}

#play-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-auto-rows: 2fr;
    row-gap: 10%;
    width: 75vw;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    z-index: 100;
}

#play-grid > img {
    z-index: 0
}

.book-songs-window {
    /* position: fixed; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 5%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: black;
    overflow-y: scroll;
    visibility: hidden;
}

.page {
    display: flex;
    flex-direction: column;
}

.book-song {
    width: 49vw;
    height: 71.4vw;
    margin: 0 5% 2% 1%;
    z-index: 100;
    transform-origin: top;
    transition: transform 1s ease, margin-bottom 1s ease;
}

.user-book-listing {
    width: 220px;
    display: inline-flex;
    flex-direction: column;
}

.user-book-listing > h4 {
    margin-bottom: 0;
}

.user-book-info {
    display: inline-flex;
    justify-content: space-between; 
}

.user-book-info > h5 {
    margin-top: 5%;
}

.user-book-filters {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0;
    margin-bottom: 5%;
}

.user-book-filter-button {
    background-color: rgb(51, 51, 51);
    color: white;
    width: 18%;
    height: 35px;
    border: none;
    /* border: 10px groove rgb(51, 51, 51); */
}

#left-filter {
    padding: 0.25% 2px 0.25% 2%;
    border-radius: 6px 0 0 6px;
}

#center-filter {
    border-radius: 3px;
}

#right-filter {
    padding: 0.25% 2% 0.25% 2px;
    border-radius: 0 3px 3px 0;
}

.inner-button {
    background-color: black;
    width: 90%;
    height: 95%;
    display: block;
    margin: 0;
    width: 100%;
    border: none;
    border-left: 1px solid rgb(210, 210, 210);
    border-radius: 9px 0 0 9px;
    cursor: pointer;
    color: white;
}

#play-page-search {
    display: flex;
    width: 100vw;
    justify-content: center;
    height: 5vh;
    margin-bottom: 5%;
}

#play-page-search > input {
    width: 40%;
    height: 100%;
}

#play-search-type {
    width: 10%;
    background-color: rgb(189, 153, 205);
    height: 100%;
}

/* .side {
    background-color: white;
} */

.songs-list {
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-color: white;
    position: fixed;
    right: 1vw;
    left: 52vw;
    top: 0;
    bottom: 0;
    padding: 2%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.songs-list > .song:first-child {
    border-top: solid 2px black;
}

/* .songs-list > h3 {
    font-size: 24px;
} */

.song {
    border-bottom: solid 2px black;
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
}

.user-song-info {
    margin-right: 5%;
    width: 20%;
}

.song-name {
    font-size: 20px;
}

.song-progress {
    border-radius: 3px;
    text-align: center;
    width: 100%;
    position: relative;
}

.song-progress > h4 {
    margin-bottom: 0;
}

.song-progress > p {
    margin-top: 0;
}

.song-progress-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-bottom: 1%;
}

.song-progress-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    background-color: beige;
    width: 150%;
    height: 0;
    top: 100%;
    right: -33%;
    z-index: 100;
    border-radius: 0 0 2px 2px;
    transition: height 0.2s, visibility 0.1s;
}

.song-progress-dropdown-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(198, 198, 198);
}

.song-pages {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: auto;
}

.close-book-button {
    position: fixed;
    right: 3%;
    left: 90%;
    top: 1%;
    bottom: 99%;
    font-size: 24px;
    color: white;
    background-color: rgb(15, 15, 15);
    height: 5%;
    border-radius: 5%;
    text-align: center;
    align-content: center;
    box-shadow: 0 4px 5px rgb(78, 12, 79);
}

.close-book-button > h6 {
    margin: auto;
}

.book-title {
    color: rgb(78, 12, 79);
    font-size: 40px;
    text-align: center;
    align-content: center;
}

.full-screen-button {
    background-color: black;
    display: inline;
    position: fixed;
    top: 5%;
    left: 5%;
    color: white;
    height: 5%;
    z-index: 101;
    cursor: pointer;
    opacity: 50%;
}

.full-screen-button:hover {
    opacity: 100%;
}

.full-screen-button:active {
    opacity: 100%;
}

.close-full-screen-button {
    background-color: rgb(177, 38, 38);
    border-color: rgb(78, 12, 79);
    color: white;
    position: fixed;
    top: 2%;
    left: 2%;
    height: 5%;
    opacity: 50%;
    visibility: hidden;
    z-index: 101;
    cursor: pointer;
}

.close-full-screen-button:hover {
    opacity: 100%;
}

.close-full-screen-button:active {
    opacity: 100%;
}


/* filtered songs
------------------------------------*/

#song-filter-header {
    padding-top: 10%;
    text-align: center;
    margin: 0; 
    margin-bottom: 5%;
}

#song-filter-section {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-auto-rows: 1fr auto;
    padding: 10% 20% 10% 20%;
    padding-top: 5%;
    border-top: 5px groove black;
}

.filtered-songs {
    /* border-bottom: 2px solid black; */
}

.filtered-song-listing {
    border-bottom: 2px solid black;
}

#current-filter {
    background-color: rgb(179, 204, 245);
    padding: 5px 0 5px 2%;
    border-radius: 3px;
    display: flex;
}

#current-filter > form {
    margin-left: 10px;
    height: 100%;
}

#current-filter > form > input {
    background-color: rgb(64, 97, 205);  
    color: white;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgb(103, 164, 225);
}

#current-filter-div {
    display: flex;
    justify-content: center;
}


/* login page
------------------------------------*/

.sign-in-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 80%;
    height: 75vh;
    margin: 5% 10% 0 10%;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 50%;
    background-color: purple;
    border-radius: 10px;
}

#register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 50%;
    background-color: purple;
    border-radius: 10px;
}