.purchaseBookButton {
    background-color:rgb(78, 12, 79);
    color: white;
    border-radius: 4px;
    width: 50%;
    height: 8%;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 10% 25% 10% 25%;
    cursor: pointer;
}